@model Minibus_Hire_System.web.Models.Admin.PasswordGeneratorViewModel

@{
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form method="post" asp-action="PasswordGenerator" asp-controller="Admin">
                <div class="card">
                    <div class="card-header no-gutters">
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
                                <h3 class="mb-0">Encrypt Password</h3>
                            </div>
                            <div class="col-sm-12 col-md-5">
                                <button class="btn btn-primary" type="submit">Generate Encryption Password</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6"><label asp-for="Password"></label></div>
                            <div class="col-sm-6">
                                <input asp-for="Password" style="width:100%;" />
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <h6><strong>Salt : </strong>@Model.Salt</h6>
                        </div>
                        <div class="row">
                            <h6><strong>Hash Password : </strong>@Model.HashPassword</h6>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
